<aside>
    
    <div class="row">
        
            <img src="../resources/logo.png" class="<img src="" alt="logo" width="40" height="40" class="responsive-img"/>
    
        </div>
    <div class="row">
        <a class="waves-effect blue darken-1 btn-large" class="blue darken-1">Informacion</a>
    </div>
    <div class="row">
        <a class="waves-effect blue darken-1 btn-large">Agendar Cita</a>
    </div>
    
</aside>