<div>
    <div class="row">
        <img class="imagen" src="/assets/other/logo.png">
    </div>
    <div class="row">
        <a class="waves-effect blue darken-1 btn-large botones">Informacion</a>
    </div>
    <div class="row">
        <a class="waves-effect blue darken-1 btn-large botones">Agendar Cita</a>
    </div>
</div>