<aside>
    <div class="row">
        <img src="/resources/logo.png">
    </div>
    <div class="row">
        <a class="waves-effect blue darken-1 btn-large">Informacion</a>
    </div>
    <div class="row">
        <a class="waves-effect blue darken-1 btn-large">Agendar Cita</a>
    </div>
</aside>