<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems,{
        format:"yyyy-mm-dd",
        disableWeekends:true
    });
    //const persona = record;
    //idPersona,idDoctor,fecha,hora,motivo,estado
  });
</script>
<form id="formRegistrar" action="/citas/registrar" method="post">
    <h2 class="center-align">Nueva cita</h2>
    <div class="row">
        <div>
        <h5>Especialidad</h5>
        <select class="browser-default blue lighten-5" name="" id="selectEsp">
            <option value="">Elige una especialidad</option>
        </select>
    </div>
    </div>
    <div class="row">
        <h5>Descripcion</h5>
        <h6 class="blue lighten-5" id="descripcionEsp">Descripcion de la especialidad</h6>
    </div>
    <div class="row">
        <h5 for="">Doctor</h5>
        <select class="browser-default blue lighten-5" name="" id="selectDoctor">
            <option value="">Doctor</option>
        </select>
    </div>
    <div class="row">
        <h5 for="">Fecha</h5>
        <input type="text" class="blue lighten-5 datepicker" id="fecha">
    </div>
    <div class="row">
        <h5 for="">Horario</h5>
        <br>
        <select class="browser-default blue lighten-5" id="selectHora">
            <option value="Hora">Elige una hora</option>
        <option value=""></option>
        </select>
    </div>
    <div class="row">
        <h5 for="">Motivo</h5>
        <input type="text" class="blue lighten-5" id="motivo">
    </div>
    <div class="row center-align">
        <a class="waves-effect blue darken-1 btn-large" id="guardar">Guardar cita</a>
    </div>
</form>

    <script>
       var OBJpersona = '<%- JSON.stringify(record) %>'
              
    </script>


<script src="/assets/js/http.js"></script>
<script src="/assets/js/main.registro-citas.js"></script>

