
<form action="">
    <h1>Nueva cita</h1>
    <div class="row">
        <label for="">Doctor</label>
        <input type="text">
    </div>
    <div class="row">
        <label for="">Fecha</label>
        <input type="text">
    </div>
    <div class="row">
        <label for="">horario</label>
        <input type="text">
    </div>
    <div class="row">
        <label for="">Motivo</label>
        <input type="text">
    </div>
    <div>
        <a class="waves-effect blue darken-1 btn-large" class="blue darken-1">Guardar cita</a>
    </div>
</form>