<div class="card mx-basic my-basic">
    <form id="formProducto" action="/catalogo/producto/" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s4 ">
                <p>Especialidad:
                <select class="browser-default blue lighten-5" name="selectEsp" id="selectEsp" >
                    <option value="especialidad">Elige una especialidad</option>
                </select>
                </p>
            </div>
            <div class="input-field col s8 ">
                <p>
                    Descripcion:
                    <h6 id="descripcionEsp">Descripcion de la especialidad</h6>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <p>
                    Doctor:
                    <select class="browser-default blue lighten-5" name="" id="selectDoctor">
                        <option value="">Doctor</option>
                    </select>
                </p>
            </div>
            <div class="input-field col s4">
                <p>
                    Fecha:
                    <input type="text" class="blue lighten-5 datepicker" disabled id="fecha">
                </p>
            </div>
            <div class="input-field col s4">
            <p>
                Horaios Disponibles:
                <select class="browser-default blue lighten-5" id="selectHora">
                    <option value="Hora">Elige una hora</option>
                </select>
            </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>
                    Motivo:
                    <input type="text" class="blue lighten-5" id="motivo">
                </p>
            </div>
        </div>
        <div class="row center-align">
            <p>
            <a class="waves-effect blue darken-1 btn-large" id="guardar">Guardar cita</a>
            </p>
        </div>
        
    </form>
</div>

    <script>
       var OBJpersona = '<%- JSON.stringify(record) %>'
     </script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
        var fechaActual = new Date();
        var fechaMaxima = new Date();
        fechaMaxima = new Date().setDate(fechaActual.getDate()+365);
        console.log(fechaMaxima);
        console.log(fechaActual);

    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems,{
        format:"yyyy-mm-dd",
        disableWeekends:true,
        //minDate:fechaActual,
        i18n:{
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthsShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
        weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        weekdaysShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
        weekdaysAbbrev: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
        cancel:	'Cancelar',
        done:"Aceptar"
        }

    });
    //M.AutoInit();
        
    //const persona = record;
    //idPersona,idDoctor,fecha,hora,motivo,estado
  });
</script>

<script src="/assets/js/http.js"></script>
<script src="/assets/js/main.registro-citas.js"></script>

