<div class="card mx-basic my-basic">
    <div class="row">
    <div class="input-field col s12">
        <table id="tablahistorial">
            <thead class="blue darken-1 text-white">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Doctor</th>
                <th></th>
            </thead>
            <tbody id="cuerpotabla">
                
            </tbody>
        </table>
    </div>
</div>
</div>

<script>
    var OBJpersona = '<%- JSON.stringify(record) %>'
</script>

<script src="/assets/js/http.js"></script>
<script src="/assets/js/main-historial-citas.js"></script>