<div>
    <div class="row">
        <h2 class="center-align">Historial de citas</h2>
    </div>
    <div class="row">
        <table>
            <thead class="blue darken-1">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Doctor</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>2022-10-03</td>
                    <td>13:00</td>
                    <td>Doctor</td>
                    <td><button>Ver informacion</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>