<div class="card mx-basic my-basic">
    <div class="center-align">
    <div style="padding: 1% 0;">
        <h5>Usuario</h5>
    </div>
    <div style="padding: 1% 0;">
        
        <label style="color:black;font-size:large;">Nombre: </label>
        <label style="color:black;font-size:large;" id="user"></label>
    </div>
    <div style="padding: 1% 0;">
        
        <label style="color:black;font-size:large;" >Correo Electronico: </label>
        <label style="color:black;font-size:large;" id="email"></label>
    </div>
    <div style="padding: 1% 0;">

        <label style="color:black;font-size:large;">Contraseña: </label>
        <label style="color:black;font-size:large;" id="password"></label>
    </div>

    <div style="padding: 3% 0;">
        <h5>Citas agendadas</h5>
        <%- include("tabla-citas-agendadas.ejs")  -%>
    </div>


</div>