<div class="card mx-basic my-basic">
    <div class="center-align">
    <div class="divInfo">
        <h5>Usuario</h5>
    </div>
    <div class="divInfo">
        
        <label class="informacionClass">Nombre: </label>
        <label class="informacionClass" id="user"></label>
    </div>
    <div sclass="divInfo">
        
        <label class="informacionClass" >Correo Electronico: </label>
        <label class="informacionClass" id="email"></label>
    </div>
    <div class="divInfo">

        <label class="informacionClass">Contraseña: </label>
        <label class="informacionClass" id="password"></label>
    </div>

    <div class="divTablaInfo">
        <h5>Citas agendadas</h5>
        <%- include("tabla-citas-agendadas.ejs")  -%>
    </div>


</div>