<div>
    <div class="center-align">
    <div >
        <h2 class="center-align">Información de perfil</h2>
    </div>
    <div class="informacion">
        
        <label class="dato">Nombre: </label>
        <label class="dato" id="user"></label>
    </div>
    <div class="informacion">
        
        <label class="dato" >Correo Electronico: </label>
        <label class="dato" id="email"></label>
    </div>
    <div class="informacion" >

        <label class="dato">Contraseña: </label>
        <label class="dato" id="password"></label>
    </div>

    <div >
        <%- include("tabla-citas-agendadas.ejs")  -%>
    </div>


</div>


