
<form>

    <div>
        <h2 class="center-align">Citas agendadas</h2>
        <div class="row">
            <table class="striped" id="citasagendadas">
                <thead class="blue darken-1 ">
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Doctor</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody id="cuerpotabla">
                   
                </tbody>
            </table>
            
        </div>
        
    </div>

</form>



<script>
    var OBJpersona = '<%- JSON.stringify(record) %>'
</script>


