<div>
    <h2 class="center-align">Citas agendadas</h2>
    <div class="row">
        <table class="striped">
            <thead class="blue darken-1">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Doctor</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>2022-10-20</td>
                    <td>12:00</td>
                    <td>Casdasdasdasdasd</td>
                    <td><button  class=" blue darken-1">Confirmar</button></td>
                    <td><button>Eliminar</button></td>
                </tr>
                <tr>
                    <td>2022-10-20</td>
                    <td>12:00</td>
                    <td>Casdasdasdasdasd</td>
                    <td><button class=" blue darken-1">Confirmar</button></td>
                    <td><button>Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="row center-align">
        <a class="waves-effect blue darken-1 btn-large">Ver mi historial</a>
    </div>
</div>