<div class="row">
    <div class="input-field col s12">
        <table class="striped" id="citasagendadas">
            <thead class="blue darken-1 ">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Doctor</th>
                <th></th>
                <th></th>
            </thead>
            <tbody id="cuerpotabla">
            
            </tbody>
        </table>
    </div>
    
</div>