<div class="card mx-basic my-basic">
    <form id="formProducto" action="/catalogo/producto/" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="input-field col s4">
                <p>
                    Nombre de la Especialidad:
                    <input type="text" class="blue lighten-5" id="nombreEsp">
                </p>
            </div>
            <div class="input-field col s4">
                <p>
                    Descripcion
                    <input type="text" class="blue lighten-5" id="descripcion">
                </p>
            </div>
        </div>


        <div class="row center-align">
            <p>
                <a class="waves-effect blue darken-1 btn-large" id="guardar">Registrar Especialidad</a>
            </p>
        </div>

    </form>
</div>