<div class="card mx-basic my-basic">
    <form id="formAgregarDoctor" action="/catalogo/producto/" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="input-field col s4">
                <p>
                    Nombre:
                    <input type="text" class="blue lighten-5" id="nombre" name="nombre">
                </p>
            </div>
            <div class="input-field col s4">
                <p>
                    Apellido Paterno:
                    <input type="text" class="blue lighten-5" id="apellidoP" name="apellidoP">
                </p>
            </div>
            <div class="input-field col s4">
                <p>
                    Apellido Materno:
                    <input type="text" class="blue lighten-5" id="apellidoM" name="apellidoM">
                </p>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <p>
                    Corre Electronico:
                    <input type="text" class="blue lighten-5" id="email" name="correo">
                </p>
            </div>
            <div class="input-field col s4 ">
                <p>Especialidad:
                <select class="browser-default blue lighten-5" name="selectEsp" id="esp" name="especialidad"></select>
                </p>
            </div>
            <div class="input-field col s4">
                <p>
                    Cedula:
                    <input type="text" class="blue lighten-5" id="cedula" name="cedula">
                </p>
            </div>
        
        </div>

        <div class="row">
            <div class="input-field col s4 ">
                <p>Hora de Entrada:
                <select class="browser-default blue lighten-5" name="selectEsp" id="horaEntrada" name="horaEntrada"></select>
                </p>
            </div>
            <div class="input-field col s4 ">
                <p>Hora de Salida:
                    <h6 id="horaSalida" name="horaSalida">Descripcion de la especialidad</h6>
                </p>
            </div>
        
        </div>

        <div class="row center-align">
            <p>
                <a class="waves-effect blue darken-1 btn-large" id="guardar">Registrar Doctor</a>
            </p>
        </div>

    </form>
</div>
<script src="/assets/js/http.js"></script>
<script src="/assets/js/admin/main-registrar-doctor.js"></script>