<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <%- include("administrador/barraIzq-Admin.ejs")  -%>
    <main >
        <h4 class="my-basic">BUSCAR CITA</h4>  
        <div class="card mx-basic my-basic">
            <div class="row">
                <div class="input-field col s4 ">
        
                    <select class="browser-default blue lighten-5" name="selectEsp" id="listadoctor">
                        <option value="especialidad" hidden selected>Ingrese al Doctor</option>
                        <% doctores.forEach((doctor)=>{%>
                        <option value=<%=doctor.idPersona%>>  </option>
                        <% })%>
                    </select>
                </div>
                <div class="input-field col s4 ">
        
                    <button type="button" class="waves-effect blue darken-1 btn" id="btn-buscar-cita">Buscar Cita</button>
        
                </div>
        
                <table>
                    <thead>
                        <th>Id de Cita</th>
                        <th>Paciente</th>
                        <th>Hora</th>
                        <th>Motivo</th>
                    </thead>
                    <tbody id="tablabody">
        
                    </tbody>
                </table>
            </div>
        
        </div> 
        
   
    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/http.js"></script>
<script src="/assets/js/main-buscar-citas.js"></script>
</html>