<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
       
    <title>Document</title>
    </head>
    
    
<body class="grey lighten-5">
    
    <%- include("registro.citas/barraIzq.ejs",{record})  -%>
    
    <main>
        <h4 class="my-basic">Información</h4>
        <%- include("registro.citas/informacion-usuario.ejs")  -%>
    </main>
    <%- include("comunes/modal-registro.ejs")  -%>
</body>

<script>
    var OBJpersona = '<%- JSON.stringify(record) %>'
    console.log("EJS");
    console.log(OBJpersona);
</script>

<script src="/assets/js/http.js"></script>
<script src="/assets/js/citas-agendadas.js"></script>
<script src="/assets/js/informacion-usuario.js"></script>

</html