<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="card mx-basic my-basic">
        <div class="row">
            <div class="col 4">
                <img src="/assets/other/logoReceta.png">
            </div>
            <div class="col s8">
                <p>CLINICA DE MEDICOS ESPECIALISTAS DE OAXACA
                        "Especialistas de Calidad"
                    C. Macedonio Alcalá 305 · 951 516 6903
                </p>
            </div>
        </div>
        <div class="row">
            <div>
                    <p>
                                Doctor: <%=doctor%>   
                                Fecha: <%=fecha%>           Especialidad: <%=especialidad%>
                                Paciente: <%=paciente%>
                    </p>
            </div>
        </div>
        
    </div>
</body>
</html>