<link rel="stylesheet" href="/assets/css/main.css">

<div id="modalResultado" class="modal modal-fixed-footer modal-info">
    
  <div class="modal-content">
    
        <div class="card mx-basic my-basic">
                <div class="row">
                    <div class="center-align">
                        <img src="" alt="" id="imagen">
                    </div>   
                </div>
                <div class="row">
                       <h4 class="center-align" id="texto"></h4>
                </div>
                
                
        </div> 
  </div>
  <div class="modal-footer">
    <a  class="modal-close waves-effect waves-green btn-flat" id="aceptar">Aceptar</a>
  </div>
</div>
<script>
    var instances;
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    instances = M.Modal.init(elems, 
    {
        opacity:0.6
    });
  });
  console.log(instances);

</script>
<script src="/assets/js/modal/modalResultado.js"></script>