<div class="card mx-basic my-basic">
    <div class="row">
        <div class="input-field col 5 offset-5">
            <p>Fecha:</p>
        </div>
        <div class="input-field col 5 offset-5">
            <input type="text" class="blue lighten-5 datepicker" id="fecha-agenda">
        </div>
    </div>
    <div class="row">
        <table>
            <thead>
                <th>Hora</th>
                <th>Paciente</th>
                <th>Motivo</th>
            </thead>
            <tbody>
                <td></td>
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
        var fechaActual = new Date();
        var fechaMaxima = new Date();
        fechaMaxima = new Date().setDate(fechaActual.getDate()+365);
        console.log(fechaMaxima);
        console.log(fechaActual);

    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems,{
        format:"yyyy-mm-dd",
        disableWeekends:true,
        
    });
    
    //const persona = record;
    //idPersona,idDoctor,fecha,hora,motivo,estado
  });
</script>

