<link rel="stylesheet" href="/assets/css/main.css">
<form action="/doctor/receta" method="post">
    <div id="modal3" class="modal modal-fixed-footer modal-info">
    
        <div class="modal-content">
          <h4>Receta</h4>
              <div class="card mx-basic my-basic">
                      <div class="row">
                          <div class="col s4 offset-s1">
                              <p>
                                 Fecha:
                                 <input type="text" id="form-fecha" name="fecha">
                              </p>
                          </div>
                          <div class="col s5 offset-s1">
                              <p>
                                  Doctor:
                                  <input type="text" id="form-doctor" name="doctor">
      
                               </p>
                          </div>    
                      </div>
                      <div class="row">
                          <div class="col s4 offset-s1">
                              <p>
                                 Hora:
                                 <input type="text" id="form-hora" name="hora">
                              </p>
                          </div>
                          <div class="col s5 offset-s1">
                              <p>
                                  Especialidad:
                                  <input type="text" id="form-especialidad" name="especialidad">
      
                               </p>
                          </div>    
                      </div>
                      <div class="row">
                          <div class="col s4 offset-s1">
                              <p>
                                 Paciente:
                                 <input type="text" id="form-paciente" name="paciente">
                              </p>
                          </div>
                          <div class="col s5 offset-s1">
                              <p>
                                  Motivo:
                                  <input type="text" id="form-motivo" name="motivo">
      
                               </p>
                          </div>    
                      </div>
                      <div class="row">
                          <div class="col s12">
                              <p>
                                 Diagnostico:
                                 <textarea name="diagnostico" id="form-diagnostico" cols="30" rows="10"></textarea>
                                 <input type="text" id="form-diagnostico">
                              </p>
                          </div>
                            
                      </div>
                      <div class="row">
                          <div class="col s12">
                              <p>
                                 Indicaciones:
                                 <textarea name="indicaciones" id="form-indicaciones" cols="30" rows="10"></textarea>
                                 
                              </p>
                          </div>
                            
                      </div>
                      
                      <div class="row">
                            <div class="centrered">
                                <button id="btnPdf"type="submit">PDF</button>
                            </div>
                          
                      </div>
                      
                    </div> 
        </div>
        <div class="modal-footer">
           
          
            
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
      </div>
</form>

<script>
    var instances;
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    instances = M.Modal.init(elems, 
    {
        opacity:0.6
    });
  });
  console.log(instances);

</script>