<link rel="stylesheet" href="/assets/css/main.css">
<div class="card mx-basic my-basic">
    <div class="center-align">
    <div style="padding: 1% 0;">
        <h5>Doctor</h5>
    </div>
    <div style="padding: 1% 0;">
        
        <label style="color:black;font-size:large;">Nombre: </label>
        <label style="color:black;font-size:large;" id="user"></label>
    </div>
    <div style="padding: 1% 0;">
        
        <label style="color:black;font-size:large;" >Correo Electronico: </label>
        <label style="color:black;font-size:large;" id="email"></label>
    </div>
    <div style="padding: 1% 0;" >

        <label style="color:black;font-size:larger;">Contraseña: </label>
        <label style="color:black;font-size:larger;" id="password"></label>
    </div>

    <div style="padding: 1% 0;">

        <label style="color:black;font-size:large;">Cédula: </label>
        <label style="color:black;font-size:large;" id="ced"></label>
    </div>

    <div style="padding: 1% 0;">

        <label style="color:black;font-size:large;">Hora de Entrada: </label>
        <label style="color:black;font-size:large;" id="he"></label>
    </div>
    <div style="padding: 1% 0;">

        <label style="color:black;font-size:large;">Hora de Salida: </label>
        <label style="color:black;font-size:large;" id="hs"></label>
    </div>


</div>
