<link rel="stylesheet" href="/assets/css/main.css">
<div class="card mx-basic my-basic">
    <div class="center-align">
    <div class="divInfo">
        <h5>Doctor</h5>
    </div>
    <div class="divInfo">
        
        <label class="informacionClass">Nombre: </label>
        <label class="informacionClass" id="user"></label>
    </div>
    <div class="divInfo">
        
        <label class="informacionClass" >Correo Electronico: </label>
        <label class="informacionClass" id="email"></label>
    </div>
    <div class="divInfo" >

        <label class="informacionLarger">Contraseña: </label>
        <label class="informacionLarger" id="password"></label>
    </div>

    <div class="divInfo">

        <label class="informacionClass">Cédula: </label>
        <label class="informacionClass"id="ced"></label>
    </div>

    <div class="divInfo">

        <label class="informacionClass">Hora de Entrada: </label>
        <label class="informacionClass" id="he"></label>
    </div>
    <div class="divInfo">

        <label class="informacionClass">Hora de Salida: </label>
        <label class="informacionClass" id="hs"></label>
    </div>


</div>
