<link rel="stylesheet" href="/assets/css/main.css">

<div id="modal1" class="modal modal-fixed-footer modal-info">
    
  <div class="modal-content">
    <div class="modal-content">
        <h4>Receta</h4>
            <div class="card mx-basic my-basic">
                    <div class="row">
                        
                        <div class="col s4 ">
                            <p>
                                Doctor:
                                <h6 class="blue lighten-5" type="text" id="modal-doctor" name="doctor"></h6>
                             </p>
                        </div>
                        <div class="col s4 ">
                            <p>
                                Cedula:
                                <h6 class="blue lighten-5" type="text" id="modal-cedula" name="cedula"></h6>
                             </p>
                        </div>
                        <div class="col s4">
                          <p>
                              Especialidad:
                              <h6 class="blue lighten-5" type="text" id="modal-especialidad" name="especialidad"></h6>
  
                           </p>
                      </div>     
                    </div>
                    <div class="row">
                      <div class="col s6">
                          <p>
                             Paciente:
                             <h6 class="blue lighten-5" type="text" id="modal-paciente" name="paciente"></h6>
                          </p>
                      </div>
                      <div class="col s3">
                          <p>
                             Fecha:
                             <h6 class="blue lighten-5" type="text" id="modal-fecha" name="fecha"></h6>
                          </p>
                      </div>
                        <div class="col s3">
                            <p>
                               Hora:
                               <h6 class="blue lighten-5" type="text" id="modal-hora" name="hora"></h6>
                            </p>
                        </div>
                           
                    </div>
                    <div class="row">
                      <div class="col s2">
                          Edad:
                          <h6 class="blue lighten-5" type="text" id="modal-edad" name="edad"></h6>
                      </div>
                      <div class="col s2">
                          Peso:
                          <h6 class="blue lighten-5" type="text" id="modal-peso" name="peso"></h6>
                      </div>
                      <div class="col s2">
                          Altura:
                          <h6 class="blue lighten-5" type="text" id="modal-altura" name="altura"></h6>
                      </div>    
                      <div class="col s6">
                            
                          Motivo:
                          <h6 class="blue lighten-5" type="text" id="modal-motivo" name="motivo"></h6>
    
                             
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>
                               Diagnostico:
                               <h6 class="blue lighten-5" name="diagnostico" id="modal-diagnostico" cols="30" rows="10"></h6>
                               
                            </p>
                        </div>
                          
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>
                               Indicaciones:
                               <h6 class="blue lighten-5" name="indicaciones" id="modal-indicaciones" cols="30" rows="10" required></h6>
                               
                            </p>
                        </div>
                          
                    </div>
                    
                    
                    
                  </div> 
      </div>
      
  </div>
  <div class="modal-footer">
    
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>
<script>
    var instances;
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    instances = M.Modal.init(elems, 
    {
        opacity:0.6
    });
  });
  console.log(instances);

</script>
