<link rel="stylesheet" href="/assets/css/main.css">

<div id="modal1" class="modal modal-fixed-footer modal-info">
    
  <div class="modal-content">
    <h4>Receta</h4>
        <div class="card mx-basic my-basic">
                <div class="row">
                    <div class="col s4 offset-s1">
                        <p>
                           Fecha:
                           <h6 class="blue lighten-5" id="modal-fecha">12-10-2022</h6>
                        </p>
                    </div>
                    <div class="col s5 offset-s1">
                        <p>
                            Doctor:
                            <h6 class="blue lighten-5" id="modal-doctor">Juan Lopez Henandez</h6>

                         </p>
                    </div>    
                </div>
                <div class="row">
                    <div class="col s4 offset-s1">
                        <p>
                           Hora:
                           <h6 class="blue lighten-5" id="modal-hora">09:00 hrs</h6>
                        </p>
                    </div>
                    <div class="col s5 offset-s1">
                        <p>
                            Especialidad:
                            <h6 class="blue lighten-5" id="modal-especialidad">Cardiologia</h6>

                         </p>
                    </div>    
                </div>
                <div class="row">
                    <div class="col s4 offset-s1">
                        <p>
                           Paciente:
                           <h6 class="blue lighten-5" id="modal-paciente">Juan Martinez Alas</h6>
                        </p>
                    </div>
                    <div class="col s5 offset-s1">
                        <p>
                            Motivo:
                            <h6 class="blue lighten-5" id="modal-motivo">Dolor en el pecho</h6>

                         </p>
                    </div>    
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>
                           Diagnostico:
                           <h6 id="modal-diagnostico" class="materialize-textarea" data-length="999"></h6>
                        </p>
                    </div>
                      
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>
                           Indicaciones:
                           <h6 id="modal-indicaciones" class="materialize-textarea" data-length="999"></h6>
                        </p>
                    </div>
                      
                </div>
                
        </div> 
  </div>
  <div class="modal-footer">
    
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>
<script>
    var instances;
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    instances = M.Modal.init(elems, 
    {
        opacity:0.6
    });
  });
  console.log(instances);

</script>
