<link rel="stylesheet" href="/assets/css/main.css">
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
<div id="modal1" class="modal modal-fixed-footer modal-info">
    
  <div class="modal-content">
    <h4>Receta</h4>
        <div class="card mx-basic my-basic">
                <div class="row">
                    <div class="col s4 offset-s1">
                        <p>
                           Fecha:
                           <h6 class="blue lighten-5" id="modal-fecha">12-10-2022</h6>
                        </p>
                    </div>
                    <div class="col s5 offset-s1">
                        <p>
                            Doctor:
                            <h6 class="blue lighten-5" id="modal-doctor">Juan Lopez Henandez</h6>

                         </p>
                    </div>    
                </div>
                <div class="row">
                    <div class="col s4 offset-s1">
                        <p>
                           Hora:
                           <h6 class="blue lighten-5" id="modal-hora">09:00 hrs</h6>
                        </p>
                    </div>
                    <div class="col s5 offset-s1">
                        <p>
                            Especialidad:
                            <h6 class="blue lighten-5" id="modal-especialidad">Cardiologia</h6>

                         </p>
                    </div>    
                </div>
                <div class="row">
                    <div class="col s4 offset-s1">
                        <p>
                           Paciente:
                           <h6 class="blue lighten-5" id="modal-hora">Juan Martinez Alas</h6>
                        </p>
                    </div>
                    <div class="col s5 offset-s1">
                        <p>
                            Motivo:
                            <h6 class="blue lighten-5" id="modal-especialidad">Dolor en el pecho</h6>

                         </p>
                    </div>    
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>
                           Diagnostico:
                           <textarea id="textarea2" class="materialize-textarea" data-length="999"></textarea>
                        </p>
                    </div>
                      
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>
                           Indicaciones:
                           <textarea id="textarea2" class="materialize-textarea" data-length="999"></textarea>
                        </p>
                    </div>
                      
                </div>
        </div> 
  </div>
  <div class="modal-footer">
    <a href="#modal2" class="waves-effect waves-light btn modal-trigger">Terminar</a>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, 
    {
        opacity:0.6
    });
  });

</script>
<script src="/assets/js/main-doctor-recetas.js"></script>